In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import os

In [2]:
sales=pd.read_csv("4.2 sales.csv")
sales.drop(columns=["Unnamed: 0"], inplace=True, errors='ignore')
sales.head(10)

,transaction_id,timestamp,product_id,category,customer_type,unit_price,quantity,total,payment_type
0,a1c82654-c52c-45b3-8ce8-4c2a1efe63ed,2022-03-02 09:51:38,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,gold,3.99,2,7.98,e-wallet
1,931ad550-09e8-4da6-beaa-8c9d17be9c60,2022-03-06 10:33:59,ad81b46c-bf38-41cf-9b54-5fe7f5eba93e,fruit,standard,3.99,1,3.99,e-wallet
2,ae133534-6f61-4cd6-b6b8-d1c1d8d90aea,2022-03-04 17:20:21,7c55cbd4-f306-4c04-a030-628cbe7867c1,fruit,premium,0.19,2,0.38,e-wallet
3,157cebd9-aaf0-475d-8a11-7c8e0f5b76e4,2022-03-02 17:23:58,80da8348-1707-403f-8be7-9e6deeccc883,fruit,gold,0.19,4,0.76,e-wallet
4,a81a6cd3-5e0c-44a2-826c-aea43e46c514,2022-03-05 14:32:43,7f5e86e6-f06f-45f6-bf44-27b095c9ad1d,fruit,basic,4.49,2,8.98,debit card
5,b5b3c8b9-f496-484d-aa30-4f2efb5ed56c,2022-03-07 17:59:47,3bc6c1ea-0198-46de-9ffd-514ae3338713,fruit,standard,3.99,4,15.96,cash
6,4997b1ae-f5aa-4b9f-8fc8-22ad8f19837c,2022-03-07 19:36:57,14736243-d346-438f-9535-d80fcb9f3882,fruit,standard,1.49,4,5.96,e-wallet
7,bfffee68-0736-42af-bd3e-4ca77541b0d6,2022-03-07 19:03:20,0ddc2379-adba-4fb0-aa97-19fcafc738a1,fruit,basic,3.99,4,15.96,credit card
8,ce50e984-90cd-4b47-8537-3a4e32e6d314,2022-03-07 11:34:32,ad81b46c-bf38-41cf-9b54-5fe7f5eba93e,fruit,non-member,3.99,1,3.99,credit card
9,f0700cc9-e6f5-4b9a-add4-05e64b4f495b,2022-03-07 09:20:12,35e00193-aa27-4121-87f4-6ac0d8a8671f,fruit,premium,0.49,3,1.47,e-wallet

In [3]:
stock=pd.read_csv("4.3 sensor_stock_levels.csv")
stock.drop(columns=["Unnamed: 0"], inplace=True, errors='ignore')
stock.head(10)

,id,timestamp,product_id,estimated_stock_pct
0,4220e505-c247-478d-9831-6b9f87a4488a,2022-03-07 12:13:02,f658605e-75f3-4fed-a655-c0903f344427,0.75
1,f2612b26-fc82-49ea-8940-0751fdd4d9ef,2022-03-07 16:39:46,de06083a-f5c0-451d-b2f4-9ab88b52609d,0.48
2,989a287f-67e6-4478-aa49-c3a35dac0e2e,2022-03-01 18:17:43,ce8f3a04-d1a4-43b1-a7c2-fa1b8e7674c8,0.58
3,af8e5683-d247-46ac-9909-1a77bdebefb2,2022-03-02 14:29:09,c21e3ba9-92a3-4745-92c2-6faef73223f7,0.79
4,08a32247-3f44-4002-85fb-c198434dd4bb,2022-03-02 13:46:18,7f478817-aa5b-44e9-9059-8045228c9eb0,0.22
5,98550364-b9c1-42e2-8852-a0e884daf960,2022-03-01 14:51:16,0f493675-d59d-45dd-9406-084932bf41c1,0.04
6,35da168d-715e-4ca1-8755-d317cee4e9b9,2022-03-03 12:59:14,e22ea344-cea3-42fe-bb97-9a99fa7c6987,0.03
7,b00838b1-59a6-4f85-81fe-986ed0e46fc2,2022-03-01 12:35:30,a3ec02dd-a6be-4fc0-a8d1-ef34a2addca0,0.56
8,4478f269-e631-465f-b490-0d8629dd138d,2022-03-07 13:45:06,21f8aa00-bc6e-4c9d-8acf-2d3bb740f30b,0.89
9,ca95cb50-26cb-4d87-8819-baefd68de5d9,2022-03-05 09:18:11,de06083a-f5c0-451d-b2f4-9ab88b52609d,0.99

In [4]:
temp=pd.read_csv("4.4 sensor_storage_temperature.csv")
temp.drop(columns=["Unnamed: 0"], inplace=True, errors='ignore')
temp.head(10)

                                     id            timestamp  temperature
0  d1ca1ef8-0eac-42fc-af80-97106efc7b13  2022-03-07 15:55:20         2.96
1  4b8a66c4-0f3a-4f16-826f-8cf9397e9d18  2022-03-01 09:18:22         1.88
2  3d47a0c7-1e72-4512-812f-b6b5d8428cf3  2022-03-04 15:12:26         1.78
3  9500357b-ce15-424a-837a-7677b386f471  2022-03-02 12:30:42         2.18
4  c4b61fec-99c2-4c6d-8e5d-4edd8c9632fa  2022-03-05 09:09:33         1.38
5  125583af-e280-4627-9cc6-62413af94c6b  2022-03-06 09:39:53         0.04
6  3ef1f91d-f7ef-4bf2-a0f7-2c3720a7432c  2022-03-05 19:21:53       -28.34
7  5131c3ed-4f6b-4f52-93c9-fa2717499a80  2022-03-03 19:09:48        -2.47
8  0fd6edd9-36d3-4c7c-8184-53e746365067  2022-03-05 15:45:46         2.48
9  04766f4f-a431-4853-92c9-a6b28b7f7abb  2022-03-04 15:18:25        -3.03

In [5]:
sales.dtypes

transaction_id     object
timestamp          object
product_id         object
category           object
customer_type      object
unit_price        float64
quantity            int64
total             float64
payment_type       object
dtype: object

In [6]:
stock.dtypes

id                      object
timestamp               object
product_id              object
estimated_stock_pct    float64
dtype: object

In [7]:
temp.dtypes

id              object
timestamp       object
temperature    float64
dtype: object

In [14]:
df_merged = stock.merge(sales, on=['timestamp', 'product_id'], how='inner')
df_merged = df_merged.merge(temp, on=['timestamp', 'id'], how='inner')

In [12]:
df_merged.head(50)

Empty DataFrame
Columns: [id, timestamp, product_id, estimated_stock_pct, transaction_id, category, customer_type, unit_price, quantity, total, payment_type]
Index: []

In [13]:
df_merged.tail(50)

Empty DataFrame
Columns: [id, timestamp, product_id, estimated_stock_pct, transaction_id, category, customer_type, unit_price, quantity, total, payment_type]
Index: []